#allthebooks {
    overflow: auto;
}
.book {
    border:1px solid #ccc;
    margin-right:10px;
    margin-bottom:10px;
    min-width:300px;
    width:25%;
    float:left;
    padding:10px;
}

.book h2 {
    font-size:1.2em;
    margin:1px;
}

.book h3 {
    font-size:1em;
    margin:1px;
}

.book img {
    max-width: 90%;
}